* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: linear-gradient(to right, #ba7eff, #00eeff, #ffbb00, #ff00b3, #c300ff);
    --background-color: #ffffff;
    --text-color-main: black;
    --text-color-second: rgb(88, 88, 88);
    --border-color: #c4c4c4;
    --active-tab-color: #0990ff;
    --button-bg-color: #fff5e71a;
    --button-hover-bg-color: #fff5e7;
    --shadow: rgba(184, 184, 184, 0.849);
    --late: rgba(255, 206, 86, 0.6);
    --present: rgba(75, 192, 192, 0.6);
    --absent: rgba(255, 99, 132, 0.6);
}

.dark-mode {
    --background-color: rgb(17, 17, 19);
    --text-color-main: rgb(255, 255, 255);
    --border-color: rgb(48, 48, 48);
    --sidebar-bg: var(--sidebar-bg-dark);
    --button-bg-color: #211c311a;
    --button-hover-bg-color: #211c31;
    --text-color-main: white;
    --text-color-second: rgb(145, 145, 145);
    --shadow: rgba(107, 107, 107, 0.692);
}

html,
body {
    height: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    color: var(--text-color-main);
}

.top-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color-main);
    padding: 10px 20px;
    font-size: 1.2rem;
    /* Adjust this if other text is in the top-bar */
    transition: transform 0.3s ease;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .user-menu h1 {
    font-size: 1.5rem;
    /* Make the app name smaller */
    margin: 0;
    /* Remove default margin */
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.top-bar img {
    width: 35px;
    border: 2px solid var(--border-color);
    border-radius: 100%;
}


.hidden {
    transform: translateY(-100%);
    /* Move the top bar up when hidden */
}

.pagecontainer {
    display: flex;
    width: 300%;
    transition: transform 0.3s ease;
}

.page {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    padding: 10px;
}

.user-menu {
    display: flex;
    align-items: center;
    position: relative;
    /* Position relative for the dropdown */
}

.down-arrow {
    font-size: 12px;
    color: var(--text-color-main);
    margin-right: 4px;
    cursor: pointer;
    /* Change cursor to pointer */
}

.dropdown {
    padding: 4px;
    display: flex;
    position: absolute;
    /* Position it absolutely */
    top: 100%;
    /* Position it below the user menu */
    left: 0;
    /* Align it to the left */
    background-color: var(--background-color);
    /* Background color for dropdown */
    border: 1px solid var(--border-color);
    /* Border for dropdown */
    border-radius: 4px;
    flex-direction: column;
    z-index: 1;
    /* Ensure it appears above other elements */
    font-weight: 100;
    font-size: 16px;
    opacity: 0;
    transition: 0.2s;
}

#dropdownMenu {
    opacity: 0;
    transform: translateY(-100px); /* Move it up slightly when hidden */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#dropdownMenu.show {
    opacity: 1;
    transform: translateY(0); /* Move to its original position when visible */
}

.dropdown a,
.dropdown label {
    display: block;
    /* Block display for links */
    padding: 4px 8px;
    text-decoration: none;
    /* Remove underline */
    color: var(--text-color-main);
    /* Text color */
}

.dropdown a i,
.dropdown label i {
    font-size: 12px;
    color: var(--text-color-second);
    /* Text color */
}

.dropdown a:hover {
    background-color: #f0f0f0;
    /* Background on hover */
}

.search-container {
    position: relative;
    margin-bottom: 1em;
    color: var(--text-color-main);
    background-color: var(--background-color);
}

#searchBar {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    color: var(--text-color-main);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    right: 0;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    overflow-y: auto;
    display: none;
    /* Hidden initially */
    z-index: 11;
}

.overlay h3 {
    margin: 0.5em 1em;
    font-size: 1em;
    color: var(--text-color-second);
}

#recentSearches,
#searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#recentSearches li,
#searchResults li {
    padding: 0.5em 1em;
    cursor: pointer;
}

#recentSearches li:hover,
#searchResults li:hover {
    background: #f0f0f0;
}


/* Larger screens layout */
@media (min-width: 769px) {
    .pagecontainer {
        width: 100%;
        display: flex;
        transform: none;
        /* Remove transform effect */
    }

    .page-left {
        width: 17.5vw;
        /* 17.5% of the viewport width */
    }

    .page-center {
        width: 65vw;
        /* 65% of the viewport width */
    }

    .page-right {
        width: 17.5vw;
        /* 17.5% of the viewport width */
    }

    .page {
        height: 100vh;
    }
}